# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# PySpark / Spark
spark-warehouse/
metastore_db/
*.log

# Environment / secrets
.env
.env.*
*.pem

# Local data
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db